page-home {

}

.sub-header-description {
  color: gray;
  font-size: 0.8em;
}

.sub-header-title {
  font-size: 0.8em;
}
.title_important {
  color: red;
}

.day-description {
  font-size: 0.85em;
  padding-top: 5px;
  padding-bottom: 20px;
}

.day-title-regular {
  color: #3B5998;
}

.day-title-important {
  color: red;
}
